#  A secret key used for encrypting sensitive fields in the database. It should be a long, random string.
DB_FIELD_ENCRYPTION_KEY="contraseña-secreta-para-encriptar-campos-de-la-db"

# JDBC URL for the SQLite database. The default points to a file named mypaybyday.db in the /data directory.
# QUARKUS_DATASOURCE_JDBC_URL="jdbc:sqlite:/data/mypaybyday.db"